In [1]:
import pandas as pd

In [7]:
cities_csv ="/users/rebeccatast/desktop/Web-Design-Challenge/WebVisualizations/Resources/cities.csv"

In [9]:
cities_df=pd.read_csv(cities_csv)
cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,rikitea,-23.12,-134.97,74.5,80,41,15.43,PF,1605286759
1,1,souillac,-20.52,57.52,75.2,83,20,3.36,MU,1605286759
2,2,hilo,19.73,-155.09,69.8,73,75,8.05,US,1605286759
3,3,ancud,-41.87,-73.82,54.0,81,75,11.41,CL,1605286760
4,4,klaksvik,62.23,-6.59,46.4,93,58,23.04,FO,1605286760

In [10]:
cities_df.to_html("cities.html")